a.topReturn(href="#top" style='display: none;')
    div.arrow-up

div.topPanel#top
    img(width='400px', src='images/Logo.png')
    p
        br
        br
        i Reimagining the way we network.
        p

    ul#nav
        li
            a(href='index.html#ProjBrief') Project Brief
        li
            a(href='index.html#InspDes') Inspirational Design
        li
            a(href='index.html#NeedsAnal') Needs Analysis
        li
            a(href='design_development.html') Design Development
        li
            a(href='task_breakdown.html') Task Breakdown