extends layout_main

block content
	h1 Design Refinement
	br      
	h3 What is your design? How does it work?
	
	//- p 
	//- 	| Maven is a question and answer service that revolves around "life questions". At its core, its about connecting curious users with those who have relevant experience to spark engaging face-to-face conversations. We use video chatting between matched people to allow our matches to start a conversation that revolves around a question one match poses.
	//- p
	//- 	| To use Maven, log in and create a simple profile about yourself, telling others what you are curious about and what you know a lot about. Also, you are recommended to create a 15 second video profile that reveals who you are in real life so that others can get a good sense of you before meeting you.
	//- p
	//- 	| Next, you can decide either to meet people by asking a conversation-starter question or answering other people’s questions.  You can go through and select which people(+questions) are interesting to you, and if the other person also chooses you, you will get notified to set up a meeting time.
	//- p
	//- 	| After an interface like WhenIsGood, you can meet with your match on our video platform and talk about the question that either you proposed, or your match asked. If you guys have a good interaction, you can connect with this person in the future beyond the scope of this app. At the end of your conversation, you can decide to give your match a gold star if your experience was a good one.

	h3 What changed between paper prototyping and the proposed final design. Why?
	h3 What key insights did you gain this phase? [include evidence]
	h3 What questions do you have now about your project? (Areas to investigate and shortcomings)












	//- p
	//- 	| Our design is a mobile app called Maven that gives people a personal, authentic way to seek advice and relay knowledge and experience.
	//- 	p
	//- 		| The crux of the app is the question and answer service. People seeking answers post one question and get matched with people who have relevant experience that might help them answer this question. What makes it a reliable, authentic experience is the video component. People have profile videos rather than a profile picture or something else, and the act of matching people is to lead to a video chat so that the question and answer part can be a conversation rather than a post to a forum.
	//- 		h3 How does it work?