extends layout_main

block content
    h3 DESIGN NARRATIVE
    p
        | It’s five months before the summer session starts, and Sammy has begun her quest to find her summer internship. Just two weeks ago, Tufts had a major networking fair for her department where several major companies such as Fisher came to look for talented biomedical students. Feeling nervous in her stomach, Sammy still dragged herself to the fair, and she talked to a few people before quickly scurrying away back to hang out with her friends. For some people, she had no idea what to talk about and felt a bit awkward in the space.
    p
        | Now that it’s been a few days, Sammy goes on LinkedIn to connect with the people she’s met, but she’s realized that her page is not completely updated. She has been putting off updating her LinkedIn because it’s a time commitment, so she feels uncomfortable ‘connecting’ with the people she met before. As the days drag on, she feels more impersonal and then just decides not to do it. Instead, she tries to figure out how to apply to the companies on their website, putting her back at square one. She visits different websites through Google, LinkedIn, and CareerBuilder to check for openings, and then she bookmarks the pages. She tells herself, “I’ll apply to these in a few days when I get to it” and goes back to working on her next assignment. When Sammy does get time to apply to some companies, she rarely hears back, and now she is getting discouraged.
    p
        | Sammy’s story rings true for a lot of users we met. Sammy recognizes the importance of networking, but struggles to make lasting connections through career fairs/networking events. She cares about authenticity and  developing real relationships so she feels a strong disconnect between her values and the current options for networking. The impersonal method of blindly reaching through to 2nd/3rd degree connections or acquaintances on LinkedIn makes her so paralyzed that she resorts to old more comfortable methods of job-seeking (going through a company’s website). She does not have tools available to her to help her navigate the confusing world of networking and see how her connections can push her towards her career goals, so she believes that the whole act of networking is pointless.
    center
        img(src='images/flow_chart_01.png')
    h3 REQUIREMENTS
    p
        | The solution we develop for Sammy must make her feel authentic when reaching out to prospective connections.  To measure this we could ask if Sammy feels as though she could reach out to the Connectee after the initial meeting to ask them to come over to her house just for fun or ask the Connectee to attend an event with her.  If Sammy feels as though she cannot or will not reach out to the Connectee ever again after their initial meeting, because she does not feel that she has made a genuine friendship then we will not have met our requirement.
    p
        | Aside from feeling authentic, our solution must make the Connectee feel as though they are not being used.  If the Connectee feels as though they benefited from meeting Sammy then they will most likely be satisfied with the new relationship.  This could be measured by whether or not the Connectee feels as though they gained useful information from Sammy or can trust Sammy to help them in the future, should they ask for it.
    p
        | These solutions must accomplish their goal through an intuitive interface that is natural for a Sammy to use after her first interaction.  The Connectee must likewise be able to use the interface to aid Sammy in her future networking endeavors.
    h3 IMPACT
    ul
        li
            p
                b Autonomy in Job Seeking/Networking
                | - Right now if a person like Sammy or Talu wants to find their second or third degree connections, they have to go through the people who are directly in their network. This is exhausting for Sammy and Talu and the people they are trying to connect to. While ideally each new connection is facilitated by someone you know, it is not practical today where people’s schedules are packed and networks are necessarily so extensive. Our design will allow Sammy and Talu to see their extended network and reach out to second and third degree connections themselves. This autonomy will help them build their own networks independently.
        li
            p
                b Increase Network Accessibility
                | - We will be taking data from LinkedIn and presenting it in a visual way that is beneficial to the user’s job search. Right now it is difficult for Talu to know and understand the network he has, its extent, and what different opportunities are available through it. Sammy needs to see her network and possible paths to goals so that she can network in an informed way to achieve those goals. Our design will not only allow people like Sammy and Talu to see their network and its many subnetworks visually, but it will present this information in the way that is most useful and most conducive to job searching.
        li
            p
                b Authenticity in Online Networking
                | - Our product will give both parties the feeling of authenticity when a new connection is being made. Right now, online networking can feel very impersonal and fruitless for one or both parties involved. We will bring a personalization aspect to networking where the networker feels comfortable reaching out to people they don’t know directly and the connectee feels confident that the people who are trying to connect to them are worth the time investment of building that connection.