extends layout_main

block content
	div.jumbotron
		a(href="http://mavenangular.herokuapp.com/#/intro" target="_blank" style="font-size:36pt") Final Prototype

	:markdown
		## Final Report

		* * *

		**The Problem Space**

		Members of our generation get exposed to networking and mentorship in a number of different ways. Over the years these words have gained a number of weighted connotations that can negatively affect the experience one has when attempting to network or find mentors. Our interface reframes networking and mentorship to make the task easy and approachable through a question and answer format.

		**How our interface will solve it**

		Our interface will solve the problem of networking by connecting people who have life questions with more experienced professionals that can answer them. The interface connects the two types of users via video chat. This will afford users who have questions the ability to meet professionals in their desired field who can potentially help them get a job in the future, while also providing a venue for them to gain valuable insight about the industry. Users who want to share their insight can converse with the people who have questions. By having a conversation over video chat, the users are able to provide answers that incorporate the context which the question is asked in.

		**The Maven Question and Answer Service App**

		* **Profile Info**

		    * The profile information consists of a person's Education, Professional Experience and Passions & Hobbies. This information is displayed on each users profile in tandem with their name and video introduction. The education and experience is important for Sammy in particular. She is the one asking a question and needs to know if the person she gets matched with is able to answer it, based on their credibility. Some users are might have enough credibility to be helpful, but Sammy could choose to take their valuable advice with a grain of salt, if she is able to see how much experience the other user has in a given area. The Passions & Hobbies section helps to facilitate matches that are based off of more than job placement. Each user can connect with others who share their interests, which can make the interaction more natural and enjoyable from both sides. If this happens then the probability that both users will meet again to talk increases significantly.

		    * In addition to the information listed in text form, we will also incorporate a 30 second video clip, where users can talk about who they are in a more casual and authentic way. Since we are going to connect people for a longer conversation over video we wanted to let them see each other over video prior to matching up. When one meets someone else for the first time it only takes a few seconds to get an initial impression of them, an aspect that is left out of other social network applications. The 30 second video introduction will increase the likelihood of a positive experience for both users and meets Sammy and Vicky's need for authenticity.

		* **Profile Video**

		    * We chose to have people create a profile video rather than the usual profile picture. Users upload a video up to 30 seconds in length. The prompt for the video is "Give us a sense of who you are, where you are in life, and what interests you." The reason we chose to use video rather than photos is because we heard from many users that just knowing some information about another person doesn't really give you a sense of who they are. With the video component that you can watch before choosing to talk to someone, users commented that it “gives a good snapshot” of that person. With this first impression, users can choose to talk to people whose personalities they are drawn to. We also found users really value trust and a trustworthy system. There was concern that having this video-chat service would be unreliable, that anyone can fake a profile and person you actually chat with is not who they said they were. With a video profile, you can actually see the person you might talk to before you talk to them and with it, we can avoid this becoming a chat-roulette situation. 

		    * The profile video helps all our personas, but is particularly important for Sammy because Sammy really hates interactions that are awkward, forced, and feel canned. By seeing people's profile videos, Sammy can immediately get a sense of who someone is and whether or not she could have a useful, enjoyable conversation with them. This then makes the task of doing the video chat much less daunting and scary. 

		* **Ask a Question**

		    * The *Ask a Question* feature is a text box that users can input one question into and then search for people who have relevant experience to answer that question. We chose to limit users to one question to ensure that the question they ask is meaningful rather than having a bunch of questions whose overall impact is lowered. The question aspect of the app is vital because it gives a basis for people to base their conversation on. We heard from users that great mentorship relationships usually stem from someone seeking information and when they find someone with that information, a mentorship relationship can form. 

		    * This is really important for Sammy. She has a lot of questions and concerns about the direction of her life and needs to hear input from people with relevant experience to help her make important decisions. She also hates interactions that seem aimless, she is goal-oriented and likes having a specific reason behind a task. 

		    * The question is also important for Vicky. Vicky is a person who has a lot of experience and enjoys sharing that with others. It is important to her that she is useful to someone and has experience relevant to them. When looking for people to talk to, it is important that Vicky see the question so she knows whether or not she can help, and when she finds someone she can help, it's a great feeling for her. 

		    * We did get feedback from users that they didn't realize you could only ask one question but once we explained the reasoning, they agreed. However, future work would probably include doing some testing to see if the current design makes it more clear that only one question is allowed and if not, testing new designs to make this more understandable. 

		* **Find Matches**

		    * Once a question is input into the toolbar a list of potential matches will be presented to the user, based on who on our interface has the credentials to answer that question. The credentials of each user are determined by the information that they list in their profile and will consists of Education, Professional Experience and Personal Interests. Once the two types of users choose the others whom they wish to be paired with, the interface matches people whom both chose each other. 

		    * We had originally drawn inspiration from applications like Tinder, because it offers an effective way to connect users who have commonalities and mutually want to be connected. However, there are many older users who align with Vicky's persona who are unfamiliar with this type of selection process. To make the interface more usable for the Vicky's of the world, we eliminated the swiping option and instead used check/ex mark buttons. When we made this decision we were concerned that we would create an interface that sat between the needs of our two users and end up with a design that compromised some usability of each. However, after testing our interface we came to the conclusion that by using check/ex marks, we created an interface that is appealing to our younger users and is also understandable to older users. 

		    * In the future we might want to enable the option for some users to swipe between people whom they are interested in connecting with, so that users can choose whichever works for them. We would be conscious of not overcomplicating the interface if implemented this option. 

		* **Connect through Video Chats**

		    * Each user will then find a mutually available time slot to talk with each other by using *WhenIsGood, *a web application for easy scheduling.  When it is time to video chat the two users will connect through a google hangout interface on the app. To implement this we would use the Google Hangout api but we will not be implementing this for the final refinement because it will take too much time. 

		    * Using a video chat rather than e-mail makes it easier for users to share additional information about their question and their background. Questions cannot be answered fully if the person answering them does not understand the specific experience and desires of the person asking the question. When the two users talk over video chat they get more of an intimate experience than if they were to chat over the phone. This way the users have a greater chance of building a longer lasting relationship, should the two of them want to stay in contact. 

		    * It was important for us to make it easy for users to build a relationship with each other, while at the same time not forcing them into a long term relationship immediately. We received feedback when talking with potential users that said mentorship relationships usually start off with one simple question and a quick cup of coffee or meeting. A mentorship type relationship only starts later, if the two decide to continue talking with each other.

		**Identified Shortcomings / Future Work**

		* *Where does our app still fall short?*

		    * Because we switched from mobile to web so late, we never had the opportunity to do codesign with our web design, so there is some uncertainty as to whether the translation from mobile to web is still a good design. We also think that this app would do best having both web and mobile components, but we decided to switch to web when we realized that coding for mobile was more than we could do in the scope of this project. 

		* *what would we work on if given more time*

		    * There are a lot of features of our app that have not been implemented due to time constraints. We decided not to incorporate an in-app scheduling feature, we don't currently have the sign-up process implemented, or the interface with Google Hangout to do the video chats, so these are things we would work on if the project was moving forward.

		## Appendix

		* * *


		## Usability Study Report

		To see our testing protocol please look at the Usability Test page.

		**General Overview:**

		We used our usability study to try and investigate what labels would best convey the information we were seeking to have users input on their profiles. We used to have separate sections for Interests and Hobbies. Users were confused by what interests was asking for and why we asked for both seperately. In our conversations we weren't able to determine what label would be most straight-forward for users so we decided to use our usability study to test that. We randomly presented users with the profile input screen where ⅓ were asked for Personal Interests, ⅓ were asked for Hobbies, and ⅓ were asked for Passions.

		**Results:**

		When we began to look at the collected data and rank it in order to get our final results, we decided that a 5-point scale provided unnecessary granularity. To fix this, we used a 3-point scale instead so that our rankings could be better representative of each response's quality. The responses and the awarded rankings are showed below:

		1.  sports, favorite team is real madrid

		2.  Making stuff/ tinkering, Material Arts, Cooking or baking, Creating small objects (3D printing), eating food

		3.  Robotics, music, forensics (speech and debate), electrical engineering, coding (C++), design, UX

		4.  Horses, Childcare, Animals, makeup, biology, crafts, arts and science, building stuff

		5. environmental sustainability, crew rowing, chocolate, dance, coding, biking

		6. hiking, skiing, painting, biking, coding, debating, listening to music

		7. cooking, ultimate frisbee, reading, knitting, swimming, urban exploring

		8. social impact, connecting with humans thoughtfully and intentionally, pretty thing (design), theater and music

		9. Yoga, swimming, tennis, art, fashion, online shopping, environmental research, interior design, massages, detox, humor, psychology, depression, OCD, Health, Textiles, archery, traveling, horse back riding

		<table>
		  <tr>
		    <td></td>
		    <td>Reviewer 1</td>
		    <td>Reviewer 2</td>
		    <td>Reviewer 3</td>
		    <td>Total</td>
		  </tr>
		  <tr>
		    <td>Response 1</td>
		    <td>1</td>
		    <td>1</td>
		    <td>2</td>
		    <td>4</td>
		  </tr>
		  <tr>
		    <td>Response 2</td>
		    <td>2</td>
		    <td>2</td>
		    <td>2</td>
		    <td>6</td>
		  </tr>
		  <tr>
		    <td>Response 3</td>
		    <td>3</td>
		    <td>2</td>
		    <td>3</td>
		    <td>8</td>
		  </tr>
		  <tr>
		    <td>Response 4</td>
		    <td>3</td>
		    <td>3</td>
		    <td>3</td>
		    <td>9</td>
		  </tr>
		  <tr>
		    <td>Response 5</td>
		    <td>3</td>
		    <td>3</td>
		    <td>3</td>
		    <td>9</td>
		  </tr>
		  <tr>
		    <td>Response 6</td>
		    <td>2</td>
		    <td>3</td>
		    <td>3</td>
		    <td>8</td>
		  </tr>
		  <tr>
		    <td>Response 7</td>
		    <td>3</td>
		    <td>3</td>
		    <td>3</td>
		    <td>9</td>
		  </tr>
		  <tr>
		    <td>Response 8</td>
		    <td>3</td>
		    <td>3</td>
		    <td>3</td>
		    <td>9</td>
		  </tr>
		  <tr>
		    <td>Response 9</td>
		    <td>2</td>
		    <td>2</td>
		    <td>3</td>
		    <td>7</td>
		  </tr>
		</table>


		**Personal Interests total: 20**		
		**Passions: 23**			
		**Hobbies total: 26**

		The results showed us that users who were presented with Hobbies or Passions were most likely to respond with answers that we felt were in-line with the point of our interface. Because we could only test with 9 users, the result is not statistically significant. Still, we've decided to incorporate the results by creating a section entitled Passions & Hobbies. We believe this will be most straightforward to users and encourage them to input the most expected information.

		## Design Changes

		* H1 - Needing to go back to home screen between all screens was jarring

		    * Most of our evaluators found that although they liked our home screen they didn't want to be forced to return to it so often. For our final prototype we responded to this critique in just the way we planned at the end of the last phase. The user starts at the home page, but is not forced to return there ever again. It is still an option, by clicking Maven in the top bar, but there are also Q and A buttons in the top bar that take a user immediately to the question and answer pages.

		* H1 - Could not find Propose Meeting

		    * In our initial prototype the option to propose a meeting with someone was buried inside a settings menu. Our evaluators gave us the feedback that this was very counterintuitive and they did not find it located there. We fixed this in our final prototype by making a specific request meeting button that shows up on the profiles of matches. It shows up right below their profile videos where users are already used to seeing added features.

		* H1 - Completely missed the questions

		    * One of our heuristic evaluators totally overlooked the questions being asked when they were searching through potential matches. The question was originally right below the video in a blue text box. For our final prototype we made the question in a big bold font and put it above the video. We hope that users will notice it now, but this is something we would want to test if we had more time with this project.

		* H7 - A lot of text to fill out on phone

		    * This issue along with a few others that have come out over the semester were fixed by our decision to switch our final prototype over to the web. We've been treating our interface as a mobile experience for most of the semester but have realized that the video features and the large amount of text input in the profiles makes many aspects of it better suited for web. In our transition we kept in mind all of the feedback on our mobile site and applied those same principles and the same user needs/values to make a good site layout.	