div#wrapper
	div#sidebar-wrapper
		ul.sidebar-nav
			li
				a(href='index.html') MAVEN
			li
				a(href='project_brief.html') Project Brief
			li
				a(href='inspirational_design.html') Inspirational Design
			li
				a(href='needs_analysis.html') Needs Analysis
			li
				a(href='design_narrative.html') Design Narrative
			li
				a(href='story_boards.html') Story Boards
			li
				a(href='design_development.html') Design Development
			li
				a(href='wireframes.html') Wireframes
			li
				a(href='task_breakdown.html') Task Breakdown
			li
				a(href='prototype.html') Prototype
			li
				a(href='design_refinement.html') Design Refinement
			li
				a(href='usability_test.html') Usability Test
			li
				a(href='TheWitchMeltsReview.pdf' target="_blank") Hueristic Report 
			li
				a(href='index.html') Final Refinement