extends layout_main

block content
    h1 Needs Analysis
    br
    h3 PEOPLE AND PERSONAS
    p There is a large population of professionals who maintain their world through the connections they make, and they are constantly impacted by services such as LinkedIn, meetups, networking events, and conferences. For our software application design course, we are primarily interested in making the networking experience through online mediums more valuable and impactful for these professionals. With this big idea, we have identified the following personas that may represent our target users.
    ul
        li
            center
                img(src='images/Sammy.jpg')
            p
                b Sammy the Survivor is a bioengineering college junior at Tufts University looking to find work in industry for the first time. She has spent the past two summers conducting research at local universities, but she's only now realized that research is not the career path she wants to lead. One major reason Sammy stuck to research was that she had some bad networking experiences that didn't lead to any promising job leads. Now Sammy feels trapped since she recognizes the importance of networking, but she still cannot find the confidence and the comfort to pursue networking. Sammy likes to justify that networking is just "chitter chatter" and that at every event "everyone feels canned" and inauthentic.
            p In terms of her efforts online, Sammy has been applying directly to different companies through their websites. She says, "I see the value in LinkedIn, but I don't know how to use it well." In LinkedIn, Sammy has a few strong connections, and she only wants to be found and reached out to.
            p Sammy values her skill sets above networking, and she thinks authenticity is really important. Sammy needs for her skills to be recognized and shine above her difficulties in professional networking.
        li
            center
                img(src='images/Vicky.jpg')
            p
                b Vicky the Veteran is a 55 year old financial consulting leader in her private firm. Vicky received her MBA from the University of Pennsylvania, and she went to work for a consulting firm after receiving her degree. Being part of the generation where "meeting people was in the real world" and social networks have not yet been invented, Vicky built her network predominantly by face-to-face. There were less professionals back then, and Vicky did not struggle as much with a competitive job market. She treated networking more naturally and felt like she was creating friends. Getting the consulting experience she needs, she found connections who recommended her to Proctor and Gamble, where she worked for a few more years. When she left P&G, she earned the trust and respect of the people she's had the opportunity to meet, and from there on all of her gigs were through her friends reaching out to her. In the past the 20 years, her network has only grown and become stronger. With her big network, Vicky managed to find a way to stay in touch by sending annual Christmas cards of her family, of which she follows up with a direct email. She is the mother of two children, both of which has gone through college and are leading their own lives.
            p Vicky doesn't actively use LinkedIn. Instead, people send her invites to her email, and she occasionally adds them to her online network. Personally, Vicky is intimidated by LinkedIn and all the ‘gizmos' she would have to figure out.
            p Vicky values interpersonal connections not only because her career is supported on it but also because she values the people she knows. Understanding that the times are changing, Vicky needs to stay "hip" and relevant, but nothing that young people do seem natural and easy to her.
        li
            center
                img(src='images/Talu.jpg')
            p
                b Talu the Tenacious is a 29 year old MBA student freshly graduated from Harvard Business School. Before going to Harvard Business, Talu spent some time in industry as a project manager at New Balance. Talu went to Lesley University for his undergrad, majoring in sociology and minoring in psychology. As he worked through his PM career, he's come to realize that "it's people that make things count." Learning more about the quality of life workers at New Balance must face in the recession, Talu now wants to make a bigger difference in the world, and with his MBA from Harvard he wishes to enter the healthcare industry. This is a big challenge for Talu since he has no network in healthcare, but he welcomes the challenge and eagerly attends networking events (at least twice a month). Talu has a mantra to "never eat alone", and he wants to actively expand and grow his network. Thinking back a few years, Talu reminisces that he was "scared of networking in the beginning, but [he] then fell in love because of all the cool people he's met." Looking towards his future with health care, he says, "Networking is all about selling yourself."
            p Talu has a premium LinkedIn account with over 700 connections. He loves to spend time seeing his rank within his network to see if he's getting enough attention on his profile. Talu actively searches for second degree connections he wants to talk with, and he also finds good relevant networking events to go.
            p Talu values a wide net of useful contacts. His motivation revolves around power, achievement, and association. What Talu really needs is a good way to sustain his rapidly growing network.
    p From these three personas, we've decided to design a better experience for Sammy because she seems like she could receive the most benefit from our efforts. To be specific, choosing Sammy as our main persona would allow all of our efforts to transform her networking experience; our secondary persona Vicky could then benefit by getting better access to young talents and Talu would be able to better view and assess the existing opportunities within his already expansive network.
    h3 PROBLEM
    ul
        li
            p For Sammy, networking can feel "canned" which make it feel insincere.  Networking can also seem like "chitter chatter", which makes it feel like a waste of time or simply a necessary evil.
        li
            p It is difficult for people like Sammy to reach out to others when they feel they are not being authentic.  By being inauthentic they can make the other person feel as though they are being used as a means for the networker to find a job.  This adversely affects the person being reached out too and it also makes the person looking for the job feel guilty.
        li
            p With the current job seeking interfaces on the internet it is difficult for people like Sammy to learn more about what people are interested in and then to build stronger relationships with those people based off of common interests.
    h3 PERSPECTIVE FROM PERSONAS
    ul
        li
            p
                b Sammy is our target persona, and the way she feels about the problem is address in the above section.
        li
            p
                b Vicky , who values interpersonal connections, would like to see more talented people like Sammy learn about the benefits of networking. If this means that we can address Sammy's need to create more authentic relationships, we can help Sammy get out of her shell and receive the time investments VIcky is willing to make for future generations.
        li
            p
                b Talu , always looking for new avenues to branch out and seek for his contacts, would also be a secondary benefactor to addressing Sammy's problem. The issue that Talu constantly face is the ability for him to maintain his large network of connections. As Sammy finds a way through our product to create real, meaningful connections, Talu can also find a way to nurture his own network by also investing in the people that he finds most important.