extends layout_main

block content
    h1 Task Breakdown
    br  
    center
        iframe(seamless='seamless', width='100%', height='1000', src='https://docs.google.com/spreadsheets/d/14oZzwcunF3rnVhpxperrIo5YIQ28cBxtUqPgjAv6OiE/pubhtml?gid=0&single=true&widget=true&headers=false')