extends layout_main

block content
    center
        iframe(seamless='seamless', width='600', height='500', src='https://docs.google.com/spreadsheets/d/14oZzwcunF3rnVhpxperrIo5YIQ28cBxtUqPgjAv6OiE/pubhtml?gid=0&single=true&widget=true&headers=false')