extends layout_main

block content
	:markdown
		# Usability Test

		### Hypothesis

		If we choose to use the word 'Passions' instead of 'Hobbies' or 'Personal Interests', then users will be less confused and more likely to put in the information relevant to our app because they associate the word “passions” with the kinds of activities and interests we want them to include in their profiles.

		### Independent Variables

		The only variable we are changing is the prompt for the user responses. We will be switching between three cases:

		1. 'Passions'
		2. 'Hobbies'
		3. 'Personal Interests'

		### Dependent Variables

		We have one dependent variable: relevance of responses. We will record this by having all four team members rate on a 5-point system, 5 being very relevant and 1 being not relevant at all. Then the score given to a response will be an average of all 4 ratings. 

		### Ideal Testing Conditions

		We would take our testing group and randomly distribute them across the 3 different testing groups: Passions, Hobbies, and Personal Interests. Each subgroup would only get the one interface relevant to that group, and they will asked to fill out our form with what they think is appropriate.

		There will be some subjectivity in how we rate relevance, but in a larger study we could account for this by identifying patterns in the rater's responses (i.e. if one person generally rates higher than everyone else along all or certain categories of responses.) 

		In a real study, we would also have the raters blindly rating responses (i.e. not knowing who input the responses or which case the response belonged to) as well as having more people rate responses. 

		### If our hypothesis is correct, what pattern would you expect to observe in the response variables?

		We believe that individuals would be more satisfied and on the same page as everyone else when we use the word 'Passions' because Passions may potentially encapsulate Hobbies and Personal Interests. In the past, we had both sections, and people had some trouble distinguishing between the two. We think that 'Passions' would merge both sections in a way that makes sense. Therefore, we expect users to be less confused and put in more relevant information if they are in the 'Passions' subgroup as opposed to the other two.

